.numbers_container {
    padding: 85px 16px 82px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 16px;

    h2 {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        font-family: var(--f-bold);
    }

    .number_container_inner {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .num_section {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 6px;
            border-radius: 16px;
            box-shadow: 0 -2px 10px var(--shadow);

            .num_sec_top {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 6px;
                font-weight: 600;

                p {
                    font-family: var(--f-regular);
                    padding-left: 16px;
                    font-size: 18px;
                }
            }

            .num_sec_bottom {
                display: flex;
                flex-direction: column;
                align-items: center;

                .bottom_nums {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    position: relative;

                    a {
                        width: 100%;
                        height: 48px;
                        text-align: center;
                        color: var(--text);
                        padding: 12px 16px;
                        margin: 3px;
                        background: var(--glass-bg);
                        font-family: var(--f-regular);
                        border-radius: 16px;
                        box-shadow: 0 -2px 10px var(--shadow);
                        font-size: 18px;
                    }

                    .telegram_icon {
                        width: auto;
                        box-shadow: none;
                        border-radius: 0;
                        padding: 6px;
                        background: transparent;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .map {
        width: 100%;

        .map_text {
            color: var(--text);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
            text-align: center;
            border-bottom: 1px solid var(--glass-bg);
            padding: 16px;


            h1 {
                font-size: 24px;
                font-family: var(--f-bold);

            }

            p {
                font-family: var(--f-regular);
                line-height: 1.2;
            }

            a {
                width: fit-content;
                padding: 8px 16px;
                background: var(--glass-bg);
                border-radius: 16px;
                box-shadow: 0 2px 10px var(--shadow);
                transition: all .1s ease;

                &:active {
                    transform: scale(0.95);
                }

                p {
                    text-decoration: none;
                    color: var(--text);

                    span {
                        color: red;
                    }


                }


            }
        }
    }

    .social {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-family: var(--f-regular);

        .social_media_container {
            display: flex;

            a {
                height: 55px;
                width: 55px;
                display: flex;
                justify-content: center;
                transition: all .1s ease;
                margin: 8px;
                border-radius: 16px;

                img {
                    width: 45px;
                }
            }
        }

        .web_div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            font-family: var(--f-regular);

            a {
                text-decoration: none;
                color: var(--text);
                width: fit-content;
                height: 36px;
                padding: 10px;
                border-radius: 16px;
            }


        }

    }


    .author {
        color: var(--text);
        font-size: 12px;
        text-align: center;
        font-family: var(--f-light);

        a {
            text-decoration: none;
            color: var(--text);
        }
    }
}