.bottom-nav {
    width: -webkit-fill-available;
    height: calc(56px + env(safe-area-inset-bottom));
    position: fixed;
    z-index: 999;
    margin: 0 32px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    box-shadow: 0 -2px 10px var(--shadow);

    .nav-button {
        margin: 10px;
        transition: all .1s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 50px;
        color: rgba(255, 255, 255, 0.555);

        svg {
            width: 50px;
            height: 30px;
        }
    }


    .nav-button.active {
        width: fit-content;
        padding: 4px;
        border-radius: 32px;
        backdrop-filter: blur(12px) saturate(180%);
        -webkit-backdrop-filter: blur(12px) saturate(180%);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
        color: var(--color-primary);

        svg {
            path {
                fill: var(--color-primary);
            }
        }
    }
}